<main class="Container">
  <h1 class="Heading">Sign In!</h1>

  <%= form_with(url: sessions_path, method: "post") do |form| %>
    <section class="User-Registration">
      <div class="Form-Input">
        <p>Email:</p>
        <%= form.email_field :email, autofocus: true, required: true %>
      </div>
      <div class="Form-Input">
        <p>Password:</p>
        <%= form.password_field :password, required: true %>
      </div>
      <%= form.submit "Sign In" , class: "Button" %>
    </section>
  <% end %>
</main>
