<main class="Container">
  <h1 class="Heading">Welcome to Todo Manager 24x7</h1>

  <p class="User-Prompt">It you are a new user, <%= link_to "Sign up here!", new_user_path %> </p>
  <p class="User-Prompt">It you are an existing user, <%= link_to "Sign in here!", new_session_path %> </p>
</main>
